<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user profile</title>
</head>
<body>
    <form method="POST" action="/api/user/profile" >
        <label for="user_name">user name</label>
        <input type="text" name="user_name"></br>
        <label for="dob">date of birth</label>
        <input type="date" name="dob"></br>
        <label for="address">address</label>
        <input type="text" name="address"></br>
        <label for="link1">facebook link</label>
        <input type="text" name="link1"></br>
        <label for="link2"></label>instagram link</label>
        <input type="text" name="link2"></br>
        <label for="link3">other social media link</label>
        <input type="text" name="link3"></br>
        <input type="submit" class="button" value="Sign Up">
    </form>
</body>
</html>